body{
    background-image: url(https://sm.mashable.com/t/mashable_me/feature/e/e-scooter-/e-scooter-injuries-keep-piling-up_yj3j.2496.jpg);
}



.logo{
    width: 210px;
    height: 100px;
    position: relative;
    left: 625px;

}

.logo-text{
    color: rgb(45, 212, 56);
    text-align: center;
}

.contenitore{
    margin: auto;
}

.subject{
    position: relative;
    left: 300px;
    margin-top: 14px;
    font-family: 'Poppins', sans-serif;

}


#rettangolo{
     width: 1000px;
      height: 50px;
      background: rgb(45, 212, 56);
      margin: auto;
}



.intestazione{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
}

.sottotesto{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

.stato1{
    width: 200px;
    height: 20px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 213px;
}


.intestazione2{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
}

.intestazione2{
        color: white;
        position: relative;
        left: 213px;
        font-family: 'Poppins', sans-serif;
}


.stato2{
    width: 400px;
    height: 20px;
    background-color: yellowgreen;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 213px;
}    



.intestazione3{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
}

.intestazione3{
        color: white;
        position: relative;
        left: 213px;
        font-family: 'Poppins', sans-serif;
        
}


.stato3{
    width: 50px;
    height: 20px;
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 213px;
}   


.sottotesto2{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}


.sottotesto3{
    color: white;
    position: relative;
    left: 213px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}



